<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Campus Events"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ManageEventsActivity" android:exported="false" />
        <activity android:name=".EventParticipantsActivity" android:exported="false" />
        <activity android:name=".CreateEventActivity" android:exported="false" />
        <activity android:name=".MarkAttendanceActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".AIChatbotActivity" android:exported="false" />
        <activity android:name=".MyEventsActivity" android:exported="false" />
        <activity android:name=".EventDetailsActivity" android:exported="false" />
        <activity android:name=".StudentHomeActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>